@font-face {
    font-family: Plain-light;
    src: url(/fonts/plain-light-webfont.ttf);
}

@font-face {
    font-family: Plain-regular;
    src: url(/fonts/plain-regular-webfont.ttf);
}

@font-face {
    font-family: silkserif-lightitalic;
    src: url(/fonts/silkserif-lightitalic-webfont.ttf);
}

@font-face {
    font-family: silkserif-regularitalic;
    src: url(/fonts/silkserif-regularitalic-webfont.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Plain-light;
}

html, body{
    width: 100%;
    height: 100%;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}

.line{
    /* background-color: #913030; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:3vw ;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2 vw;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: silkserif-lightitalic;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes anime {
    0%{
        font-family: Plain-light;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
    }
    47%{
        font-family: Plain-light;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: silkserif-lightitalic;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: silkserif-lightitalic;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }
    
}

    




#main{
    position: relative;
    background-color: #030303;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;

}